.btnContainer {
  display: flex;
  gap: 3rem;
}

.cta:link,
.cta:visited {
  display: inline-block;
  background-color: rgb(233, 94, 1);
  color: rgb(219, 219, 219);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
}
